input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
}

/*There has to be something where you can UNCHECK or only one can be checked*/
input[type=radio]:checked + label::before {
    background-color: #ffa;
}


.radio1 + label::before {
    width: 1.5em;
    height: 1.5em;
}

.radio2 + label::before {
    width: 1.5em;
    height: 1.5em;
}

.radio3 + label::before {
    width: 1.5em;
    height: 1.5em;
}

.radio4 + label::before {
    width: 1.5em;
    height: 1.5em;
}

.radio5 + label::before {
    width: 1.5em;
    height: 1.5em;
}

.radio6 + label::before {
    width: 1.5em;
    height: 1.5em;
}