body {
    margin: 0px;
    background-color: #f4f4f4;
    font-family: Helvetica, Arial, sans-serif;
}

/* base styles */

input {
    height: 50px;
    width: 300px;
    font-size: 2em;
    border: 2px solid black;
    padding: 5px;
}

button {
    position: relative;
    bottom: 3px;
    margin: 10px;
    height: 50px;
    background-color:#E6EFC2;
    border:1px solid #dedede;
    font-weight:bold;
    cursor:pointer;
    font-size: 1.5em;
}

button:hover {
    background-color:#D6DFb2;
    border:1px solid #C6D880;
}

button:active {
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/*******/

#main {
    margin: 10px;
}

/*the 4x4 board's position*/
#left {
    float: left;
    width: 40%;
}

/*the right side stuff such as the scoreboard in game*/
/*changing the width percentage up did not change the size of the right box area*/
#right {
    float: right;
    width: 50%;
}

#clock {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 3em;
}

/*increased board size from 472 to 672px */
#board {
    margin: auto;
    border:2px solid #999999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding:2px;
    width:640px;
    height:630px;
    background-color:#999999;
}

#avatar {
    float: right;
}

/*this is the squares inside the boards but NOT the food image sizes*/
/*increased width and height; added padding-top so RED is revealed when item is selected */
.square {
    cursor: pointer;
    width:150px;
    height:146px;
    /*the border here is the one that needs to turn RED for selection*/
    /*border:5.5px solid #eeeee8;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 4px;
    padding-top:3px;
    float:left;
    text-align: center;
    /*this might be the one that needs to turn RED for selection*/
    background-color:#eeeee8;
}

/*red color for the path of the selected cards*/ 
.square.last_in_path {
    background-color: #ff0000;
}
/*this one is the letters that are not typed the last*/ 
.square.in_path {
    background-color: #990000;
}

#login {
    margin: 100px auto;
    text-align: center;
}

#login .error {
    color: red;
}

#lobby {
    margin: 100px auto;
    text-align: center;
}

#postgame {
    height: 100px;
    text-align: center;
}

#scratchpad {
    height: 100px;
}

#scratchpad input {
    width: 70%;
}

#scratchpad h1 {
    float: left;
}

#scores {
    /*increased width from 70 to 100% and left side scoring board size increased in game*/
    float: right;
    width: 100%;
    background-color: #eeeee8;
    border: 5px solid black;
    padding: 0.5em;
}

#scores .player {
    float: left;
    width: 100%;
}

#scores .header {
    /*size was originally 1.25em. NEED this to be a different color*/
    /*this is the one that increases sizes of the PLAYER's name and TOTAL SCORE*/
    font-size: 4.25em;
}

#scores .unnamed {
    color: #444;
    font-style: italic;
}

#scores .winner {
    background-color: yellow;
}

#scores .winner_text {
    /*try to place this "WINNER" text somewhere else like below the ID name*/
    float: right;
}

#scores .card {
    float: left;
    font-size: 3.25em;
    padding: 0.25em;
    margin: 0.5em;
    border: 1px solid #030;
}

#scores .card.good {
    background-color: white;
}

#scores .card.bad {
    text-decoration: line-through;
}

#scores .card span.score {
    width: 1em;
}

#scores .card.bad span.score {
    background-image: 'circle-ball-dark-antialiased.gif';
}
